html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}
header {
    height: 4em;
    width: 100%;
    background-color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.3);
    color: white;
}

header h1 {
    font-size: 2em;
}

#search {
    width: 80%;
    height: 1.5em;
    padding-top: .5em;
    font-size: 1em;
    background-color: white;
    color: black;
    overflow: hidden;
    font-weight: bold;
}

.searches {
    width: 30%;
    text-align: center;
    height: 75%;
    margin: 0 30px;
    overflow: auto;
}

.section-header {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: blue;
}

.search-history {
    overflow: auto;
}

.map {
    width: 100%;
    height: 300px;
    padding: 10px;
    margin: 0 30px;
    background-color: white;
    border: 2px solid blue;
}
.shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.rows, .cols {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cols {
    flex-direction: row;
}

.rows {
    flex-direction: column;
}

.weekly {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

#weekly {
    justify-content: space-around;
    align-items: flex-start;
}

.current {
    width: 70ex;
    height: fit-content;
    border: 2px solid blue;
    padding: 10px;
    text-align: center;
}

.current p {
    margin: .5em 0;
}

.header {
    font-size: 2em;
    font-weight: bolder;
}

img {
    position: absolute;
    width: 1em;
    height: 1em;
    transform: scale(1.5) translateX(5px) translateY(-2px);
}

.searchHist {
    font-size: 20px;
    font-weight: bolder;
    border-top: 2px solid blue;
    padding: 30px;
    text-align: center;
    transition: all .5s ease;
}

.searchHist:hover {
    color: white;
    background-color: blue;
    cursor: pointer;
}

.day {
    border: 2px solid blue;
    padding: 1em;
    padding-right: calc(1em + 10px);
    width: calc(fit-content + 20px);
    text-align: center;
}

.day h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.day p {
    margin: .5em 0;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup h1 {
    font-size: larger;
    font-weight: bold;
    margin-bottom: .5em;
}
.ol-popup p {
    margin-bottom: .5em;
}
.tooltip {
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 0;
    transition: all 1;
    z-index: 5;
}
.displayed {
    display: block;
    opacity: 1;
}
.hidden {
    display: none;
}