.cont-head {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 40px;
    font-weight: bolder;
    border-bottom: 2px #264653 solid;
    color: #F4A261;
    width: 100%;
}

.main-cont {
    flex-grow: 1;
    /* align-items: center; */
    text-indent: 1em;
    line-height: 2rem;
    font-size: 24px;
    padding: .5rem;
    overflow: auto;
    color: #577684;
}

@media screen and (max-width: 600px) {
    .main-cont {
        font-size: 20px;
        line-height: 1.3rem;
    }
    .cont-head {
        font-size: 30px;
    }
}