.arrow-cont {
    font-size: 11px;
    font-family: ff-tisa-sans-web-pro, sans-serif;
    cursor: pointer;
    color: #fff;
    background-image:linear-gradient(
        #E9C46A 50%,
        #F4A261 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: auto 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.animate-text {
    animation: textclip 1s linear infinite;
}

@keyframes textclip {
    to {
        background-position: center 200%;
    }
}